:root{
    --color-bg: #ffffff;
    --color-border: #ff3131;
    --color-text: #000000;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: "Anton", sans-serif;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

nav {
    background-color: var(--color-bg);
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0%;
    z-index: 1000;
}

nav .fa-user-circle{
    font-size: 50px;
    color:#FF0000;
}

.menu {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
    background-image: url('img/logo.png');
    background-size: cover;
    background-color: var(--color-bg);
    font-weight: bold;
}

.menu li{
    margin-left:20px;
    transition: transform 0.3s ease;
}

.menu li:hover{
    transform: scale(1.2);
}

.menu li a{
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: #2E3532;
    text-decoration: none;
}

.search-bar {
    align-items: center;
    display: flex;
    margin-right: 0;
}

.search-bar form {
    display: flex;
    margin: 0;
}

.search-bar input{
    padding:10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.search-bar input:hover{
    border:1px solid #7c7878;
}

.search-bar button {
    padding: 10px;
    background-color: var(--color-bg);
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #7c7878;
    color: #FFFFFF;
}

.imag{
    position: relative;
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    overflow : hidden;
    border-radius: 0;
}

.imag img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 0;
}

.imag a.imag-button{
    position: absolute;
    color: #FFFFFF;
    bottom: 60px;
    right: 16px;
    font-size: 24px;
    background-color: #FF0000;
    padding: 4px 14px;
    border-radius: 5px;
    margin-right: 0px;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    box-sizing: border-box;
    letter-spacing: 1.2px;
}

.imag p.overlay-text{
    font-size: 1.6rem;
    color: #FFFFFF;
    margin-right: 0px;
    bottom: 20px;
    right: 16px;
    position: absolute;
    font-weight: bold;
    z-index: 2;
    text-shadow: 1px -3px 1px black;
}

.border{
    width: 100%;
    height: 30px;
    background-color: #FFFFFF
}

.content{
    width: 100%;
    min-height: 60vh;
    padding: 30px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    align-items:center;
    gap: 40px;
    justify-content: center;
}

.inner-content{
    display:flex;
    align-items: center;
    gap:40px;
    margin-left: auto;
    margin-right: auto;
}

.section-title{
    letter-spacing: 1.6px;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 16px;
}

.content img{
    max-width: 30%;
    margin: 0;
    display:block;
}

.content p{
    font-size: 20px;
    color: #545454;
    margin: 0;
    line-height: 1.6;
    font-weight: bold;
}

.card{
    aspect-ratio: 2/3;
    position: relative;
    display: inline-block;
    background-color: white;
    border: 4px solid var(--color-border);
    border-radius: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 300px;
    margin: 6px;
}

.card p.overlay-card-text{
    position: absolute;
    color: #fff;
    line-height: 1.4;
    letter-spacing: 2px;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px -3px 1px black;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 24px;
    transition: transform 0.3s ease;
}

.card:hover img{
    transform: scale(1.1);
}

.card:hover{
    transform: translateY(-10px) scale(1.02);
}

.vacay-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.deals-content {
    position: relative;
    width: 700px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0,0, 0.2);
}

.deals-pic{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.overlay-deals{
    top: 30px;
    left: 10%;
    right: 10%;
    position: absolute;
    padding: 50px;
    border-radius: 10px;
    border-color: #157000;
    text-align: center;
    background-color: #157000;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.overlay-deals p{
    color: #FFFFFF;
    font-size: 33px;
}

.deal-one, .deal-two{
    color: #FFFC31;
    font-size: 45px;
    font-weight: bold;
}

.deal-two{
    margin-left:10%;
}

.deals-button{
    display:flex;
    bottom: 20px;
    left:10%;
    right:10%;
    background-color: #157000;
    color: #FFFFFF;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.deals-button:hover{
    background-color: #0f4c0f;
}

.categories{
    background-color: #f2f2f2;
    text-align: center;
    width:100%;
    height: 300px;
}

.categories h2{
    text-align: center;
    bottom: 10%;
    font-family: Brush Script Std;
    color:#545454;
    font-size: 40px;
}

.categories p{
    text-align: center;
    font-family: Blippo, impact;
    color:#000000;
    font-size: 35px;
}

.categories i{
    font-size: 60px;
    color:#545454;
    margin-top: 0;
    margin-bottom: 8px;
}

.categories h4{
    font-size: 1.2rem;
    bottom: 20%;
    margin-left: 12px;
    text-transform: capitalize;
}

.category-item{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    margin-top: 32px;
    margin-left: 50px;
}

.categories i, .categories h4{
    margin: 0 auto;
}

footer{
    background-color: #FF4500;
    color: #FFFFFF;
}