*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0%;
    z-index: 1000;
}

nav .fa-user-circle{
    font-size: 50px;
    color:#FF0000;
}

.menu {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 50px;
    height: 50px;
    background-image: url('image/logo.png');
    background-size: cover;
    background-color: #FFFFFF;
    font-weight: bold;
}

.menu li{
    margin-left:20px;
}

.menu li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-size: 19px;
    color: #2E3532;
    text-decoration: none;
    transition: 0.3s ease;
}

.menu li a:hover{
    color: #000000;
}

.search-bar {
    align-items: center;
    display: flex;
    margin-right: 0;
}

.search-bar form {
    display: flex;
    margin: 0;
}

.search-bar input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    padding:10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.search-bar input:hover{
    border:1px solid #7c7878;
}

.search-bar button {
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #7c7878;
    color: #FFFFFF;
}

.imag{
    position: relative;
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    overflow : hidden;
    border-radius: 0;
}

.imag img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 0;
}

.imag a.imag-button{
    position: absolute;
    color: #FFFFFF;
    bottom: 60px;
    right: 16px;
    font-size: 24px;
    background-color: #FF0000;
    padding: 4px 14px;
    border-radius: 5px;
    margin-right: 0px;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    box-sizing: border-box;
}

.imag p.overlay-text{
    font-size: 24px;
    color: #FFFFFF;
    margin-right: 0px;
    bottom: 20px;
    right: 16px;
    position: absolute;
    font-weight: bold;
    z-index: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
}

.border{
    width: 100%;
    height: 30px;
    background-color: #FFFFFF
}

.content{
    width: 100%;
    min-height: 60vh;
    padding: 30px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    align-items:center;
    gap: 40px;
    justify-content: center;
}

.inner-content{
    display:flex;
    align-items: center;
    gap:40px;
    margin-left: auto;
    margin-right: auto;
}

.content img{
    max-width: 30%;
    margin: 0;
    display:block;
}

.content p{
    font-size: 20px;
    color: #545454;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    line-height: 1.6;
    font-weight: bold;
}

.card {
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    border: 4px solid #FF0000;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: center;
    display: flex;
    align-items: flex-end;
    padding: 12px;
    color: #FFFFFF;
    font-weight: bold;
    font-display: center;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    width: 80%
}

.container-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 16px;
}

.vacay-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.deals-content {
    position: relative;
    width: 700px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0,0, 0.2);
}

.deals-pic{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.overlay-deals{
    top: 30px;
    left: 10%;
    right: 10%;
    position: absolute;
    padding: 50px;
    border-radius: 10px;
    border-color: #157000;
    text-align: center;
    background-color: #157000;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.overlay-deals p{
    color: #FFFFFF;
    font-size: 33px;
}

.deal-one, .deal-two{
    color: #FFFC31;
    font-size: 45px;
    font-weight: bold;
}

.deal-two{
    margin-left:10%;
}

.deals-button{
    display:flex;
    bottom: 20px;
    left:10%;
    right:10%;
    background-color: #157000;
    color: #FFFFFF;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.deals-button:hover{
    background-color: #0f4c0f;
}

.categories{
    background-color: #f2f2f2;
    text-align: center;
    width:100%;
    height: 300px;
}

.categories h2{
    text-align: center;
    bottom: 10%;
    font-family: Brush Script Std;
    color:#545454;
    font-size: 40px;
}

.categories p{
    text-align: center;
    font-family: Blippo, impact;
    color:#000000;
    font-size: 35px;
}

.categories i{
    font-size: 60px;
    color:#545454;
    margin-top: 0;
    margin-bottom: 8px;
}

.categories h4{
    font-size: 1.2rem;
    bottom: 20%;
    margin-left: 12px;
    text-transform: capitalize;
}

.category-item{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    margin-top: 32px;
    margin-left: 50px;
}

.categories i, .categories h4{
    margin: 0 auto;
}

footer{
    background-color: #FF4500;
    color: #FFFFFF;
}